<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript" src="index.js"></script>
</head>

<body>

  <ul>
    <li><a href="pod.html">Pod</a></li>
    <li><a href="service.html">Service</a></li>
    <li><a href="replicaset.html">ReplicaSet</a></li>
    <li><a href="deployment.html">Deployment</a></li>
    <li><a href="ingress.html">Ingress</a></li>
  </ul>

  <div id="app-6">
    <h2>{{ kind }}</h2>

    <!-- API version -->
    <details>
      <summary>apiVersion: <input v-model="apiVersion"></summary>
    </details><br>

    <!-- Kind -->
    <details>
      <summary>kind: {{ kind }}</summary>
    </details><br>

    <!-- Metadata -->
    <details>
      <summary>metadata</summary>
      <ul>
        <li>name: <input v-model="metadata.name"> (name of {{ kind }})</li>
        <li>labels:
          <ul>
            <li>type: <input v-model="metadata.labels.type"></li>
          </ul>
        </li>
      </ul>
    </details><br>

    <!-- Specs -->
    <details open>
      <summary>spec</summary>
      <ul>
        <li>replicas: <input v-model="spec.replicas"> (desired no. of replicas of the Pod)</li>
        <li>selector: (to select which Pods should be included in the ReplicaSet based on the labels that match.) <ul>
            <li>matchLabels: <ul>
                <li>type: <input v-model="spec.selector.matchLabels.type"> </li>
                <li>service: <input v-model="spec.selector.matchLabels.service"></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>minReadySeconds: <input v-model="spec.minReadySeconds"> (min. no. of seconds before Kubernetes starts
          considering the Pods healthy) </li>
        <li>progressDeadlineSeconds: <input v-model="spec.progressDeadlineSeconds"> (no. of old ReplicaSets we can
          rollback)</li>
        <li>revisionHistoryLimit: <input v-model="spec.revisionHistoryLimit"></li>
        <li>strategy: <ul>
            <li>type: <input v-model="spec.strategy.type"> (RollingUpdate or Recreate. Recreate will kill all existing
              Pods first before updating. Recreate is useful if 2 different versions running concurrently might have an
              adverse effect on the application.)</li>
            <li>rollingUpdate: <ul>
                <li>maxSurge: <input v-model="spec.strategy.rollingUpdate.maxSurge"> (max no. of Pods that can exceed
                  the desired number, which is set using `replicas`)</li>
                <li>maxUnavailable: <input v-model="spec.strategy.rollingUpdate.maxSurge"> (max no. of Pods that are not
                  operational, out of the deisred replicas)</li>
              </ul>
            </li>
          </ul>
        </li>
        <li>template: <ul>
            <li>metadata: <ul>
                <li>labels: <ul>
                    <li>type: <input v-model="spec.template.metadata.labels.type"></li>
                    <li>service: <input v-model="spec.template.metadata.labels.service"></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>spec: <ul>
                <li>containers: <ul>
                    <li>name: <input v-model="spec.template.spec.containers[0].name"> (how you would name this container
                      in
                      this
                      {{ kind }})<br>
                      image: <input v-model="spec.template.spec.containers[0].image"> (name of the image in Docker)<br>
                      ports: (to expose port) <ul>
                        <li>containerPort: <input v-model="spec.template.spec.containers[0].ports[0].containerPort"><br>
                          protocol: <input v-model="spec.template.spec.containers[0].ports[0].protocol">
                        </li>
                      </ul><br>
                    </li>
                  </ul>
                  <button>Add container</button>
                </li>
              </ul>
            </li>
          </ul>
        </li>

      </ul>
    </details>


    <div>
      <pre style="background-color:whitesmoke; padding: 12px;">{{ yaml }}</pre>
    </div>
  </div>
  <script>
    var app6 = new Vue({
      el: '#app-6',
      data: {
        apiVersion: "apps/v1",
        kind: "Deployment",
        metadata: {
          name: "",
          labels: {
            type: ""
          },
        },
        spec: {
          replicas: 1,
          selector: {
            matchLabels: {
              type: "",
              service: ""
            }
          },
          minReadySeconds: 0,
          progressDeadlineSeconds: 60,
          revisionHistoryLimit: 10,
          strategy: {
            type: "RollingUpdate",
            rollingUpdate: {
              maxSurge: "25%",
              maxUnavailable: "25%"
            }
          },
          template: {
            metadata: {
              name: "",
              labels: {
                type: "",
                service: "",
              },
            },
            spec: {
              containers: [
                {
                  name: "",
                  image: "",
                  ports: [
                    {
                      containerPort: 0,
                      protocol: "TCP"
                    }
                  ]
                }
              ],
            }
          },
        }
      },
      computed: {
        yaml: function () {
          return json2yaml(this.$data).replace(/"/g, "");
        }
      }
    })
  </script>
</body>

</html>