<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="index.js"></script>

</head>

<body>
    <ul>
        <li><a href="pod.html">Pod</a></li>
        <li><a href="service.html">Service</a></li>
        <li><a href="replicaset.html">ReplicaSet</a></li>
        <li><a href="deployment.html">Deployment</a></li>
        <li><a href="ingress.html">Ingress</a></li>
    </ul>

    <div id="app-6">

        <h2>{{ kind }} (NGINX)</h2>

        <!-- API version -->
        <details>
            <summary>apiVersion: <input v-model="apiVersion"></summary>
        </details><br>

        <!-- Kind -->
        <details>
            <summary>kind: {{ kind }}</summary>
        </details><br>

        <!-- Metadata -->
        <details>
            <summary>metadata</summary>
            <ul>
                <li>name: <input v-model="metadata.name"> (name of {{ kind }})</li>
            </ul>
        </details><br>

        <!-- Specs -->
        <details open>
            <summary>spec</summary>
            <ul>
                <li>rules: <ul>
                        <li>host: <input v-model="spec.rules[0].host"> <br>
                            http: <ul>
                                <li>paths: <ul>
                                        <li>path: <input v-model="spec.rules[0].http.paths[0].path"> <br>
                                            backend: <ul>
                                                <li>serviceName: <input
                                                        v-model="spec.rules[0].http.paths[0].backend.serviceName"></li>
                                                <li>servicePort: <input
                                                        v-model="spec.rules[0].http.paths[0].backend.servicePort"></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </details>

        <div>
            <pre style="background-color:whitesmoke; padding: 12px;">{{ yaml }}</pre>
        </div>
    </div>
    <script>
        var app6 = new Vue({
            el: '#app-6',
            data: {
                apiVersion: "extensions/v1beta1",
                kind: "Ingress",
                metadata: {
                    name: "",
                    annotations: {
                        "kubernetes.io/ingress.class": "nginx",
                        "ingress.kubernetes.io/ssl-redirect": "false",
                        "nginx.ingress.kubernetes.io/ssl-redirect": "false"
                    }
                },
                spec: {
                    rules: [
                        {
                            host: "raimi.com",
                            http: {
                                paths: [
                                    {
                                        path: "/demo",
                                        backend: {
                                            serviceName: "myapp",
                                            servicePort: "8080"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            },
            computed: {
                yaml: function () {
                    return json2yaml(this.$data).replace(/"/g, "").replace("\\x3A", ":");
                }
            }
        })
    </script>
</body>

</html>