<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript" src="index.js"></script>
</head>

<body>

  <ul>
    <li><a href="pod.html">Pod</a></li>
    <li><a href="service.html">Service</a></li>
    <li><a href="replicaset.html">ReplicaSet</a></li>
    <li><a href="deployment.html">Deployment</a></li>
    <li><a href="ingress.html">Ingress</a></li>
  </ul>

  <div id="app-6">
    <h2>{{ kind }}</h2>

    <!-- API version -->
    <details>
      <summary>apiVersion: <input v-model="apiVersion"></summary>
    </details><br>

    <!-- Kind -->
    <details>
      <summary>kind: {{ kind }}</summary>
    </details><br>

    <!-- Metadata -->
    <details>
      <summary>metadata</summary>
      <ul>
        <li>name: <input v-model="metadata.name"> (name of {{ kind }})</li>
        <li>labels:
          <ul>
            <li>type: <input v-model="metadata.labels.type"></li>
          </ul>
        </li>
      </ul>
    </details><br>

    <!-- Specs -->
    <details open>
      <summary>spec</summary>
      <ul>
        <li>containers: <ul>
            <li>name: <input v-model="spec.containers[0].name"> (how you would name this container in this
              {{ kind }})<br>
              image: <input v-model="spec.containers[0].image"> (name of the image in DockerHub)<br>
              command: <input v-model="spec.containers[0].command"> (command to run once container starts eg.
              ["mongodb"])<br>
              args: <input v-model="spec.containers[0].args"> (eg. ["--https false"])<br>
              env: <ul>
                <li>name: <input v-model="spec.containers[0].env[0].name"></li>
                <li>value: <input v-model="spec.containers[0].env[0].value"></li>
              </ul>
              livenessProbe: (to confirm whether a container is running) <ul>
                <li>httpGet: (this is the manner to probe) <ul>
                    <li>path: <input v-model="spec.containers[0].livenessProbe.httpGet.path"></li>
                    <li>port: <input v-model="spec.containers[0].livenessProbe.httpGet.port"></li>
                  </ul>
                <li>initialDelaySeconds: <input v-model="spec.containers[0].livenessProbe.initialDelaySeconds"> (first
                  execution of the probe should be delayed by this number)</li>
                <li>timeoutSeconds: <input v-model="spec.containers[0].livenessProbe.timeoutSeconds"> (requests should
                  timeout after this number)</li>
                <li>periodSeconds: <input v-model="spec.containers[0].livenessProbe.periodSeconds"> (how often should
                  this probing be done)</li>
                <li>failureThreshold: <input v-model="spec.containers[0].livenessProbe.failureThreshold"> (no. of
                  attemps to try before giving up)</li>
              </ul>
            </li>
          </ul>
          <button>Add container</button>
        </li>
      </ul>
    </details>


    <div>
      <pre style="background-color:whitesmoke; padding: 12px;">{{ yaml }}</pre>
    </div>
  </div>
  <script>
    var app6 = new Vue({
      el: '#app-6',
      data: {
        apiVersion: "v1",
        kind: "Pod",
        metadata: {
          name: "",
          labels: {
            type: ""
          },
        },
        spec: {
          containers: [
            {
              name: "",
              image: "",
              command: "",
              args: "",
              env: [
                {
                  name: "DB",
                  value: "localhost"
                }
              ],
              livenessProbe: {
                httpGet: {
                  path: "/ this / path / does / not / exist",
                  port: 8080,
                },
                initialDelaySeconds: 5,
                timeoutSeconds: 1,
                periodSeconds: 10,
                failureThreshold: 1
              }
            }
          ],
        }
      },
      computed: {
        yaml: function () {
          return json2yaml(this.$data).replace(/"/g, "").replace(/\\x3A/g, ":").replace(/\\x5B/g, "[").replace(/\\x5D/g, "]").replace(/\\x20/g, "-").replace(/\\x22/g, "\"").replace(/\\x27/g, "'");
        }
      }
    })
  </script>
</body>

</html>